.bc_grey{
background-color: #A23B1D;
padding:20px;
margin-bottom: 0px;
border : 1px solid;
text-align:center;
}

.row{
	margin:0px 0px 0px 0px;
}

.bor{
	border : 1px solid;
}
h4{
	font-size:5.9wv;
}
.hideborder{
	border:0px !important;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .body {
    background-color: #3B517C;
}

#listForm button, #listForm input {
	background-color: #A23B1D !important;
}



  /* Set a style for all buttons */
   button , #listForm input {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover, , input:hover {
    opacity: 0.8;
  }
  
 
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 20px 0 0px 0;
    position: relative;
  }
  
  img.avatar {
    width: 30pt;
    
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }

  
 #crPage .modal-content{
	width: 50% !important;  
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }



/* Tablet Landscape */
@media screen and (min-width: 780px) {
    #primary { width:55%; margin:auto;}
	
    
}
/* Tabled Portrait */
@media screen and (max-width: 600px) {
    #primary { width:90%; }
}
