.bc_grey{
background-color: gray;
padding:20px;
margin-bottom: 0px;
border : 1px solid;
text-align:center;
}

.row{
	margin:0px 0px 0px 0px;
}

.bor{
	border : 1px solid;
}
h4{
	font-size:5.9wv;
}
.hideborder{
	border:0px;
}

/* Tablet Landscape */
@media screen and (min-width: 780px) {
    #primary { width:67%; margin:auto;}
	
    
}
/* Tabled Portrait */
@media screen and (max-width: 600px) {
    #primary { width:100%; }
}
